header {
    padding: 2rem 2rem;
    background-color: #141619;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header nav a,
header nav button {
    font-size: 16px;
    font-weight: 500;
    background-color: #0A21C0;
    color: white;
    padding: 0.5rem 2rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

header nav button:hover,
header nav a:hover {
    background-color: #1a3cff;
}

.guestButtons {
    display: flex;
    gap: 2rem;
}