body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  background-color: #B3B4BD;
}
form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input, form button {
  padding: 8px;
}